# Dependencies
node_modules/

# OS & Environment
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Firebase build & debug logs
.firebase/
firebase-debug.log*

# Development, Test Suites & Local Server (Excluded from Production)
tests/
Docs/
server.js
image.png

# Environment files
.env*
